:root{
    scroll-behavior: auto;
}


#Home{
    height: 100vh;
    background:  linear-gradient(rgba(230, 129, 130,.5) , rgba(230, 129, 130,.5)) , url(../images/home.jfif) ;
    background-size: cover;
}


.sideBar{
    width: 15%;
    height: 100vh;
    left: -15% ;
    background-color: rgba(red, green, blue, alpha);
}
#Home a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#Home a:hover{
    color: crimson;
}

.close{
    cursor: pointer;
    position: absolute;
    top: 4%;
    right: 5%;
}

.toggle{
    font-size:25px;
    cursor:pointer;
    position: absolute;
    top: 50%;
    right: -56%;
    width: 55%;
    height: 6%;
    background-color:  rgba(0,0,0,1);
    
}
.close:hover{
    color: wheat;
}

/* details  */

#Details h2{
    cursor: pointer;
}

#Details p{
    display: none;

}


/* duration  */

#Duration{
    background:  linear-gradient(rgba(214, 81, 83,.5) , rgba(214, 81, 83,.5)) , url(../images/sec.jfif) ;
    background-size: cover;
    
}

.item{
    padding: 25% 30%  ;
}


.icon{
    color: gray;
    width: 8%;
    height: 10% !important;
    float: left;
    cursor: pointer;
}

.icon:hover{
    background-color: crimson;
    color: white ;
}


